/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* END OF GLOBAL STYLES */

@media screen and (min-width: 550px) {
  body {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 50vw;
    background-color: yellow;
  }

  .register-div {
    width: 50% !important;
  }

  .login-div {
    width: 50% !important;
  }
}

/* REGISTER CONTAINER STYLES */
.reg-head {
  color: white;
  margin: 20px 0;
}

.register-div {
  width: 70%;
  height: 80%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.5s ease;
}

.register-div input {
  width: 80%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 7px 0;
}

.register-div button {
  width: 80%;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0;
  font-weight: 900;
  color: blueviolet;
}

.go-to-login {
  color: white;
  margin: 10px 0;
}

.go-to-login span {
  font-weight: 600;
  color: blue;
  cursor: pointer;
}
/* END OF REGISTER CONTAINER STYLES */

/* LOGIN STYLES */
.login-head {
  color: white;
  margin: 20px 0;
}

.login-div {
  width: 70%;
  height: 50%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.5s ease;
}

.login-div input {
  width: 80%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 7px 0;
}

.login-div button {
  width: 80%;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0;
  font-weight: 900;
  color: blue;
}

.go-to-register {
  color: white;
  margin: 10px 0;
}

.go-to-register span {
  font-weight: 600;
  color: blueviolet;
  cursor: pointer;
}
/* END OF LOGIN STYLES */

/* AFTER LOGIN STYLES */
.logged-in {
  width: 100%;
  height: 50vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}

.logged-in span {
  color: yellow;
}
/* END OF AFTER LOGIN STYLES */
